on: 
  push:
    branches: [master, dev, download-everything]
  pull_request:
name: Pull-down-all-accessions
env:
  CHUNK_TOTAL: 16

jobs:
  generate-matrix:
    runs-on: ubuntu-24.04
    outputs:
      runner_ids: ${{ steps.gen.outputs.runner_ids }}
    steps:
      - id: gen
        run: |
          total=${{ env.CHUNK_TOTAL }}
          ids=$(seq 0 $((total-1)) | paste -sd, -)
          echo "runner_ids=[$ids]" >> "$GITHUB_OUTPUT"
  warm-edirect-cache:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        perl: [ '5.32' ]
    steps:
      - name: restore-edirect-cache
        id: restore_edirect
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/edirect
          key: edirect-cache-${{ runner.os }}-${{ matrix.perl }}-v1
      - name: install-edirect
        if: steps.restore_edirect.outputs.cache-hit != 'true'
        run: |
          sh -c "$(curl -fsSL https://ftp.ncbi.nlm.nih.gov/entrez/entrezdirect/install-edirect.sh)"
      - name: save-edirect-cache
        if: steps.restore_edirect.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            ~/edirect
          key: edirect-cache-${{ runner.os }}-${{ matrix.perl }}-v1
  build:
    needs: [generate-matrix, warm-edirect-cache]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-24.04' ]
        perl: [ '5.32' ]
        runner_id: ${{ fromJson(needs.generate-matrix.outputs.runner_ids) }}
    name: chunk ${{ matrix.runner_id }} Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          multi-thread: "true"
      - name: checkout my repo
        uses: actions/checkout@v4
        with:
          path: Kalamari

      - name: apt-get install
        run:  sudo apt-get install ca-certificates tree
      - name: restore-edirect-cache
        id: restore_edirect
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/edirect
          key: edirect-cache-${{ runner.os }}-${{ matrix.perl }}-v1
      - name: install-edirect
        if: steps.restore_edirect.outputs.cache-hit != 'true'
        run: |
          sh -c "$(curl -fsSL https://ftp.ncbi.nlm.nih.gov/entrez/entrezdirect/install-edirect.sh)"
      - name: add-edirect-to-path
        run: |
          echo $HOME/edirect >> $GITHUB_PATH
          echo $GITHUB_WORKSPACE/Kalamari/bin >> $GITHUB_PATH
          tree $HOME/edirect
      - name: check-env
        run:  echo "$PATH"
      - name: create-input
        id: create_input
        run: |
          runner_id=${{ matrix.runner_id }}
          total_chunks=${{ env.CHUNK_TOTAL }}
          # Make a chunk input spreadsheet by just adding
          # each sample to chromosomes.tsv
          head -n 1 Kalamari/src/chromosomes.tsv > header.tsv
          tail -n +2 Kalamari/src/plasmids.tsv |    shuf >  in.tsv
          tail -n +2 Kalamari/src/chromosomes.tsv | shuf >> in.tsv
          total_lines=$(wc -l < in.tsv)
          start_line=$(( $runner_id * $total_lines / $total_chunks + 1 ))
          end_line=$(( ($runner_id + 1) * $total_lines / $total_chunks - 1 ))
          cat header.tsv > chunk_${runner_id}.tsv
          sed -n "${start_line},${end_line}p" in.tsv >> chunk_${runner_id}.tsv
          echo "total_lines=$total_lines" >> "$GITHUB_OUTPUT"
          echo "num_records=$(( $(wc -l < chunk_${runner_id}.tsv) - 1 ))" >> "$GITHUB_OUTPUT"
          echo "chunk_file=chunk_${runner_id}.tsv" >> "$GITHUB_OUTPUT"
          echo "chunk_lines=$(wc -l < chunk_${runner_id}.tsv)" >> "$GITHUB_OUTPUT"

      - name: download ${{ steps.create_input.outputs.num_records }} records
        run: |
          runner_id=${{ matrix.runner_id }}
          echo "Runner_id is $runner_id"

          echo "Total lines in in.tsv: ${{ steps.create_input.outputs.total_lines }}"
          echo "Chunk file: ${{ steps.create_input.outputs.chunk_file }}"
          echo "Chunk lines: ${{ steps.create_input.outputs.chunk_lines }}"
          chunk_lines=${{ steps.create_input.outputs.chunk_lines }}
          buffer_size=$(( 1 + chunk_lines / 4 ))
          echo buffer size is $buffer_size
          perl Kalamari/bin/downloadKalamari.pl --numcpus 1 --outdir kalamari.out --buffersize $buffer_size "${{ steps.create_input.outputs.chunk_file }}"
      - name: check-results
        run:  tree kalamari.out
      - name: check-file-sizes
        run:  |
          find kalamari.out -name '*.fasta.gz' > fasta.sizes
          #cat fasta.sizes | xargs -n 100 ls -lhS
