# This is a subsampling unit test to get early results
on: [push]
name: Listeria

env:
  TSV: "Kalamari/src/Listeria.tsv"
  OUTDIR: "Listeria.out"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-18.04' ]
        perl: [ '5.32' ]
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          multi-thread: "true"
      - name: checkout my repo
        uses: actions/checkout@v2
        with:
          path: Kalamari

      - name: apt-get install
        run:  sudo apt-get install ca-certificates tree
      - name: install-edirect
        run:  |
          sudo apt-get install ncbi-entrez-direct
          echo "installed edirect the apt way"
          exit
          cd $HOME
          perl -MNet::FTP -e '$ftp = new Net::FTP("ftp.ncbi.nlm.nih.gov", Passive => 1); $ftp->login; $ftp->binary; $ftp->get("/entrez/entrezdirect/edirect.tar.gz");'
          gunzip -cv edirect.tar.gz | tar xf -
          rm -v edirect.tar.gz
          export PATH=${PATH}:$HOME/edirect >& /dev/null || setenv PATH "${PATH}:$HOME/edirect"
          yes Y | ./edirect/setup.sh
          tree edirect
      - name: check-env
        run:  echo "$PATH"
      - name: select for only Listeria
        run:  |
          head -n 1 Kalamari/src/chromosomes.tsv > ${{ env.TSV }}
          grep -m 5 Listeria Kalamari/src/chromosomes.tsv >> ${{ env.TSV }}
          echo "These are the Listeria genomes for downstream tests"
          column -ts $'\t' ${{ env.TSV }}
          hexdump -c ${{ env.TSV }}
      - name: download
        run:  perl Kalamari/bin/downloadKalamari.pl --outdir ${{ env.OUTDIR }} ${{ env.TSV }}
      - name: check-results
        run:  tree ${{ env.OUTDIR }}
      - name: download-more
        run:  perl Kalamari/bin/downloadKalamari.pl --outdir ${{ env.OUTDIR }} ${{ env.TSV }} --and protein --and nucleotide
      - name: check-results
        run:  tree ${{ env.OUTDIR }}
      - name: install kraken
        run:  |
          wget https://github.com/DerrickWood/kraken/archive/refs/tags/v1.1.1.tar.gz -O kraken-v1.1.1.tar.gz
          tar zxvf kraken-v1.1.1.tar.gz
          cd kraken-1.1.1 && bash install_kraken.sh $HOME/bin/kraken
      - name: Kraken1 database
        run:  |
          export PATH=$PATH:$HOME/bin/kraken/bin
          mkdir -pv kraken
          cp -rv Kalamari/src/taxonomy/taxonomy_v3.9 kraken/taxonomy
          find ${{ env.OUTDIR }} -name '*.fasta' -exec kraken-build --db kraken --add-to-library {} \;
          kraken-build --db kraken --build
      - name: Kraken1 view results
        run:  |
          tree kraken
          ls -lhSR kraken
